@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-color-dark: #212225;
}

.Toastify__toast {
    box-shadow: 0 .25rem .75rem .15rem rgba(0, 0, 0, 0.4);
}

.shiki {
    @apply overflow-x-auto rounded-md p-5 relative;
}

.shiki::before,
.shiki::after,
.shiki code::before {
    content: '';
    position: absolute;
    top: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.shiki::before {
    left: 0.75rem;
    background-color: #FF5F56;
}

.shiki::after {
    left: 2rem;
    background-color: #FFBD2E;
}

.shiki code::before {
    left: 3.25rem;
    background-color: #27C93F;
}

.radix-themes {
    --default-font-family: var(--font-nunito) !important;
}

code {
    counter-reset: step;
    counter-increment: step 0;
}
  
code .line::before {
    content: counter(step);
    counter-increment: step;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115,138,148,.4);
}

div:has(> #rbgcp-wrapper) {
    background: none !important;
}

pre.shiki {
    padding-top: 2.5rem;
    padding-left: 0.75rem;
}

.clip { 
    clip-path: polygon(100% 0, 43% 100%, 100% 100%);
}