@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional, for the code block we add overflow, borders and padding */
.shiki {
    @apply overflow-x-auto rounded-md p-5;
}

.radix-themes {
    --default-font-family: var(--font-nunito) !important;
}

code {
    counter-reset: step;
    counter-increment: step 0;
}
  
code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115,138,148,.4);
}

div:has(> #rbgcp-wrapper) {
    background: none !important;
}

pre.shiki {
    box-shadow: 0 .5rem 1rem .25rem rgba(0, 0, 0, 0.4);
}